<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking</title>
    <link rel="stylesheet" href="../indexStyle.css" />
    <link rel="stylesheet" href="../templateStyle.css" />
    <link rel="stylesheet" href="../styles.css" />
    <style>
        input[type=text], input[type=email], select[onchange]
        {
            display: inline-block;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 4px;
            border: solid;
            margin: 10px 0;
        }
        input[type=submit], input[type=reset]
        {
            padding: 10px;
            margin: 10px 0;
            border-radius: 40px;
            border: none;
            background-color: orange;
            font-size: 20px;
            cursor: pointer;
        }
        input[type=submit]
        {
            margin-left: 115px;
        }
    </style>
    <script>
    function validate(myform) {
        var hasError = false;
        var postalField = document.getElementById("CustPostal");
        var exp = new RegExp(/^[ABCEGHJ-NPRSTVXY]\d[ABCEGHJ-NPRSTV-Z][ -]?\d[ABCEGHJ-NPRSTV-Z]\d$/i);
        var postalCode = postalField.value.trim().toUpperCase();
        postalField.value = postalCode;
        for (var i=0; i<document.forms[0].elements.length - 2; i++) {
            if (myform.elements[i].value == "") {
                if (myform.elements[i].name != "CustBusPhone") {
                    hasError = true;
                    myform.elements[i].focus();
                    return false;
                }
            }
        }
        if (!exp.test(postalCode)) {
            hasError = true;
            postalField.focus();
        }
        if (!hasError) {
            return confirm('Continue submitting?');
        } else {
            return false;
        }
    }
    function showMessage(myID) {
        document.getElementById(myID + "Span").style.display = 'inline-block';
    }
    function hideMessage(myID) {
        document.getElementById(myID + "Span").style.display = 'none';
    }
    </script>
</head>
<body>
    <%- include('./partials/header'); %>    
    <div style="padding: 30px; margin-top: 10vh;">
        <%
        var imgName = package[0].PkgName.toLowerCase().replace(/\ /g, "_");
        %>
        <h1 style="color:black" s><%= package[0].PkgName %></h1>
        <div style="background-image: url('../<%= imgName %>.jpg'); background-size: 100%;">
            <form id="bookingForm" method="post" action="/createbooking">
                <input type="hidden" name="PackageId" value="<%= package[0].PackageId %>" />
                <label for="CustFirstName">First Name:&nbsp;</label><input type="text" name="CustFirstName" id="CustFirstName" required="required" onfocus="showMessage(this.id);" onblur="hideMessage(this.id);" />
                <span id="CustFirstNameSpan" class="error">Please enter your first name</span><br />
                <label for="CustLastName">Last Name:&nbsp;</label><input type="text" name="CustLastName" id="CustLastName" required="required" onfocus="showMessage(this.id);" onblur="hideMessage(this.id);" />
                <span id="CustLastNameSpan" class="error">Please enter your last name</span><br />
                <label for="CustEmail">Email:&nbsp;</label><input type="email" name="CustEmail" id="CustEmail" required="required" onfocus="showMessage(this.id);" onblur="hideMessage(this.id);" />
                <span id="CustEmailSpan" class="error">Please enter your email</span><br />
                <input type="submit" value="Book Vacation" onclick="return validate(this.form);" />
                <input type="reset" value="Clear" onclick="return confirm('Did you really want to reset?')" />
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>