<!-- Author: Nnedimma Orji -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
        <style> 
            .agent {
                background-color:  rgb(68, 83, 123);
                color: #ffffff;
                line-height: 170%;
                padding: 50px;
                border-bottom: 1px solid white;


            }
            table {
                border-spacing:0;
                width:80vw;
                margin-left:10vw;
                margin-right:10vw;
            }
            .td1 {
                border:0px solid  white;
                border-spacing: 30px;
                border-right-color:  rgb(68, 83, 123);
                background-color:  rgb(68, 83, 123);
                border-bottom-width: 10px;
            }
            .tHeader {
                line-height:40px;

            }

        </style>
        <link rel="stylesheet" href="indexStyle.css" />
        <link rel="stylesheet" href="templateStyle.css" />
    </head>
    <body>
        <%- include('./partials/header'); %>
        <h1 style="padding-top:100px"> Agencies: </h1>
        <table>
        
        <% agencies.forEach(function(agency) { %>
            <tr class="agent">
                <td class="td1"> <%= agency.AgncyCity %>, <%= agency.AgncyAddress %>  </td>
                <td class="td1"> <%= agency.AgncyPhone %> </td>
            </tr> 

        <% }) %>
        </table>
      <br/><br/>
        <table >
    
        <tr class="agent" style="border-bottom:3px solid rgb(255, 0, 0);">
            <th class="td1 tHeader"> Agent </th>
            <th class="td1 tHeader"> Email </th>
            <th class="td1 tHeader"> Phone Number </th>
            <th class="td1 tHeader"> Agency </th>
        </tr>
    
        <h1> Agents: </h1>
        
        <% agents.forEach(function(agent) { %>
        <%
            //manually checks which agency an agent belongs to
            var agencyLocation; 
            if (agent.AgencyId==1){            
                agencyLocation="Calgary";
            } 
            else{
                agencyLocation= "Okotoks";
            } 
        %>
            <tr class="agent">
            <td class="td1"><%= agent.AgtFirstName %> <%= agent.AgtLastName %></td>
            <td  class="td1"><%= agent.AgtEmail %></td>
            <td class="td1" ><%= agent.AgtBusPhone %></td>
            <td class="td1"> <%= agencyLocation %> </td>
            </tr>   
        <% }) %>

        </table>
        <%- include('./partials/footer'); %>
    </body>
</html>