<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This page created and coded by Elias Nahas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Experts - Travel Packages</title>
    <link rel="stylesheet" href="indexStyle.css" />
    <link rel="stylesheet" href="templateStyle.css" />
    <style>
        input[type=button]
        {
            padding: 5px;
            margin: 5px 0;
            border-radius: 20px;
            border: none;
            background-color: orange;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <%- include('./partials/header'); %>    

    <div style="padding: 30px; margin-top: 10vh;">
        <!-- Sets start and end dates with proper date formatting -->
        <% 
        var hasPackages = false;
        for (var i=0; i<result.length; i++) {
            var package = result[i];
            const startDate = new Date(package.PkgStartDate);
            const endDate = new Date(package.PkgEndDate);
            const today = new Date();
            const options = {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric"
            };

            // Generates image name based on package name
            var imgName = package.PkgName.toLowerCase().replace(/\ /g, "_");

            // Formats the price to display in currency format
            var formattedPrice = package.PkgBasePrice.toLocaleString("en-US", { style: "currency", currency: "USD"});
            
            // Only displays valid packages
            // Does not display expired packages
            if (endDate >= today) {
                hasPackages = true;
            %>
                <!-- Display the travel packages -->
                <div class="package">
                    <img src="<%= imgName %>.jpg" alt="<%= package.PkgName %>" />
                    <h2><%= package.PkgName %></h2>
                    <p><%= package.PkgDesc %></p>
                    <p>Start Date: 
                    <%
                    // Highlight start date if it's currently running
                    if (startDate < today) {
                        %>
                        <span class="currentlyRunning"><%= startDate.toLocaleDateString("en-US", options) %></span>
                        <%
                    } else {
                        %>
                        <%= startDate.toLocaleDateString("en-US", options) %>
                        <%
                    }
                    %>
                    <br />
                    End Date: <%= endDate.toLocaleDateString("en-US", options) %></p>
                    <p><%= formattedPrice %> <input type="button" value="Book Now" onclick="window.location.href = '/getpackage/<%= package.PackageId %>'" /></p>
                </div>
            <%
            }
        }
        if (!hasPackages) {
            %>
            <h1>No available packages at this time.</h1>
            <%
        }
        %>
        <%- include('./partials/footer.ejs'); %>
    </div>
    
</body>
</html>