<!--Created By Mohsen Novin Pour for Team6 Threaded Projects-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	
	<link rel="stylesheet" href="templateStyle.css"/>
	<style>


body{
	font-family: sans-serif;
}
.input-group, .option{
	font-size: small;
	margin:auto;
	max-width: 230px;
	border-radius: 4px;


}
.form-box{
	margin-top: 150px;
	left: 600px;
	width: 350px;
	height: 700px;
	background-color:white;
	position: relative;
	overflow: hidden;

}
.button-box{

	width: 220px;
	height: 40px;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 40px;

}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #316387;
	border-radius: 40px;
	transition: 0.5s;
}
.input-group{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.input-field, select[onchange]{
	font-size: small;
	display: inline-block;
	width: 100%;
	height: 15px;
	padding: 10px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

select[onchange]{
	height: 38px;
}
button[type=submit], button[type=reset]
{
	font-size: small;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 40px;
	border: none;
	background-color: orange;
	font-size: 15px;
	cursor: pointer;
}

#login{
	left: 50px;
}
#register{
	left: 450px;
}
	</style>
		


		<script>
            function checkPostal(CustPostal)
            {
                var reg = (/^[ABCEGHJ-NPRSTVXY]\d[ABCEGHJ-NPRSTV-Z][ -]?\d[ABCEGHJ-NPRSTV-Z]\d$/i);
                if (!reg.test(CustPostal.value))
                {
                    alert("Postal code has an invalid value");
                    CustPostal.style.backgroundColor = "red";
				}
			}
			function checkHomePhone(CustHomePhone)
			{
                var reg = (/^(\d{3})(\d{3})(\d{4})$/);
                if (!reg.test(CustHomePhone.value))
			    {
				alert("Home Phone Number has an invalid value");
                    CustHomePhone.style.backgroundColor = "red";
				}
                   
			}
				function checkBusPhone(CustBusPhone)
            {
                var reg = (/^(\d{3})(\d{3})(\d{4})$/);
                if (!reg.test(CustBusPhone.value))
                {
                    alert("Business Phone Number has an invalid value");
                    CustBusPhone.style.backgroundColor = "red";
				}
			}	
				

</script>
</head>
		<!--Login and Register Page, A tutorial on youtube by a channel named GreatStack were used to create the toggle between login and register-->
<body>
	
	<%- include('./partials/header'); %>	
	
	<div class="both-forms">	
		<div class="form-box">
			<div class="button-box">
				<div id="btn"></div>
				<!--Toggle buttons that swap register and login-->	
					<button type="button" class="toggle-btn" onclick="login()">Log In</button>
					<button type="button" class="toggle-btn" onclick="register()">Register</button>
			</div>	
			<!--login form-->	
				<form id="login" class="input-group" method="post" action="/login">
				<input type="text" name="CustFirstName" class="input-field" placeholder="First Name" required>
				<input type="text" name="CustLastName" class="input-field" placeholder="Last Name" required>
				<input type="text" name="CustEmail" class="input-field" placeholder="Email" required>
				<input type="password" name="CustPassword" class="input-field" placeholder="Password"></br></br>
				<input type="checkbox"><span>Remember Password</span></br></br></br>
				<button type="submit" value="Submit" onclick="return validate(this.form)">Submit!</button>
			</form>
			<!--register form-->	
			<form id="register" class="input-group" method="post" action="/insertcustomer">
			<input type="text" name="CustFirstName" class="input-field" placeholder="First Name" required>
			<input type="text" name="CustLastName" class="input-field" placeholder="Last Name" required>
			<input type="email" name="CustEmail" class="input-field" placeholder="Email"required>
			<input type="password" name="CustPassword" class="input-field" placeholder="Password"></br></br>
			<input type="text" name="CustAddress" class="input-field" placeholder="Address"required>
			<input type="text" name="CustCity" class="input-field" placeholder="City"required>
			<input type="text" name="CustProv" class="input-field"placeholder="Province"required>
			<input type="text" name="CustPostal" class="input-field"placeholder="Postal Code in a T3G 5L1 format"required>
			<input type="text" name="CustCountry" class="input-field"placeholder="Country"required>
			<input type="text" name="CustHomePhone" class="input-field"placeholder="Home Phone"required>
			<input type="text" name="CustBusPhone" class="input-field" placeholder="Bussiness Phone"></br></br>
			<!--Select your agent List-->
			Select Your Agent: <select onchange='getAgent(this.value)'>
			<option value=''>Select an Agent to view details</option>
			
				<%
				for (var i=0; i<agents.length; i++)
				{
				%>
					<option value="<%= agents[i].AgentId %>"><%= agents[i].AgtFirstName %> <%= agents[i].AgtLastName %></option>
				<%
				}
				%>
			</select>
					<!--Submit and reset button on register form both ask customer to verify choice-->	
					<button type="submit" value="Submit" onclick="return validate(this.form)">Submit!</button>
					<button type="reset" value="Reset" onclick="return confirm
					('Did you really want to reset?')">Reset Fields</button>
		
				</form><br>
        </div>
	</div>
		
	<script>
		//Swaps between register and login
		var x = document.getElementById("login");
		var y = document.getElementById("register");
		var z = document.getElementById("btn");

		function register(){
			x.style.left  = "-400px"
			y.style.left  = "50px"
			z.style.left  = "110px"
		}
		function login(){
			x.style.left  = "50px"
			y.style.left  = "450px"
			z.style.left  = "0"
		}
        
	</script>
<%- include('./partials/footer.ejs'); %>

</body>


