<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	
	<link rel="stylesheet" href="templateStyle.css"/>
	<style>
	

h1{
	text-align: center;

}
.register, .option{
	margin:auto;
	max-width: 300px;
	padding: 10px;
	border-radius: 4px;
}
input[type=text], input[type=email], select[onchange]
{
	display: inline-block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	border: solid;
	margin: 10px 0;
}
button[type=submit], button[type=reset]
{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 40px;
	border: none;
	background-color: orange;
	font-size: 20px;
	cursor: pointer;
}

.tip     
{
	position: fixed;
	height: 50px;
	width: 50px;
	top: 241px;
	right: 30px;
	color: white;
	visibility: hidden;
	border-color: black;
	border-style: solid;
	border-width: 1.5px;
	background-color: rgba(255, 0, 0, 0.8)
}






	</style>
		
    <title>Register</title>
    <link href="Styles.css" rel="stylesheet"> 
		<script>
            function checkPostal(CustPostal)
            {
                var reg = (/^[ABCEGHJ-NPRSTVXY]\d[ABCEGHJ-NPRSTV-Z][ -]?\d[ABCEGHJ-NPRSTV-Z]\d$/i);
                if (!reg.test(CustPostal.value))
                {
                    alert("Postal code has an invalid value");
                    CustPostal.style.backgroundColor = "red";
				}
			}
			function checkHomePhone(CustHomePhone)
			{
                var reg = (/^(\d{3})(\d{3})(\d{4})$/);
                if (!reg.test(CustHomePhone.value))
			    {
				alert("Home Phone Number has an invalid value");
                    CustHomePhone.style.backgroundColor = "red";
				}
                   
			}
				function checkBusPhone(CustBusPhone)
            {
                var reg = (/^(\d{3})(\d{3})(\d{4})$/);
                if (!reg.test(CustBusPhone.value))
                {
                    alert("Business Phone Number has an invalid value");
                    CustBusPhone.style.backgroundColor = "red";
				}
			}	
			//Validate function for input boxes. constructs string output based upon empty input boxes remaining. 
			//If empty 	input boxes exist, constructed string apended to mymessage.
			//If all boxes filled, confirms validation.
			
			function validate(myForm)
			{
				var message = "";
                if (myForm.CustomerId.value == "")
				{
					message += "Customer Id must have a value <br />";
				}
				if (myForm.CustFirstName.value == "")
				{
					message += "First Name must have a value <br />";
				}
				if (myForm.CustLastName.value == "")
				{
					message += "Last Name must have a value <br />";
				}
				if (myForm.CustEmail.value == "")
				{
					message += "Email must have a value <br />";
				}	
                if (myForm.CustAddress.value == "")
				{
					message += "Address must have a value <br />";
				}		
                if (myForm.CustCity.value == "")
				{
					message += "City Code must have a value <br />";
				}		
                if (myForm.CustProv.value == "")
				{
					message += "Province must have a value <br />";
				}
				if (myForm.CustPostal.value == "")
				{
					message += "Postal Code must have a value <br />";
				}
                if (myForm.CustCountry.value == "")
				{
					message += "Country must have a value <br />";
				}
				if (myForm.CustHomePhone.value == "")
				{
					message += "Home Phone Number must have a value <br />";
				}
                if (myForm.CustBusPhone.value == "")
				{
					message += "Bussiness Number must have a value <br />";
				}
                if (myForm.AgentId.value == "")
				{
					message += "Agent Id must have a value <br />";
				}
				if (message == "")
				{
					document.getElementById("mymessage").innerHTML = "";
					return confirm("Form is valid, continue submitting?");
				}
				else
				{
					document.getElementById("mymessage").innerHTML = message;
					return false;
				}
			}
				
			function showTip(para)
			{
				document.getElementById(para).style.visibility = "visible";
			}

			function hideTip(para)
			{
				document.getElementById(para).style.visibility = "hidden";
			}

</script>
</head>
		<!--Paragraphs for onfocus used in forms-->

		<p id="tip1" class="tip">Enter your First Name</p><br />  
		<p id="tip2" class="tip">Enter your Last Name</p><br />  
		<p id="tip3" class="tip">Enter your Email Address</p><br />  
		<p id="tip4" class="tip">Enter your Address</p><br />  
		<p id="tip5" class="tip">Enter the name of the City where you are located</p><br />  
		<p id="tip6" class="tip">Enter the name of the Province where you are located</p><br /> 
		<p id="tip7" class="tip"> Enter your Postal Code in "T3G 5Z1" Format</p><br />
		<p id="tip8" class="tip">Enter the name of the Country where you are located</p><br />
        <p id="tip9" class="tip">Enter your Home Phone Number</p><br />
		<p id="tip10" class="tip">Enter your Bussiness Phone Number</p><br />

		
<body>
	<%- include('./partials/header'); %>
	<img src="polynesian_beach" alt="beach" />
	<div class="register">
		<h1>Registration</h1>
	
    <form method="post" action="/insertcustomer">
        First Name: &nbsp;<input type="text" name="CustFirstName"
        onfocus="showTip('tip1')" onblur="hideTip('tip1')" /><br />
        Last Name: &nbsp;<input type="text" name="CustLastName"
        onfocus="showTip('tip2')" onblur="hideTip('tip2')" /><br />
        Email: &nbsp;<input type="email" name="CustEmail"
        onfocus="showTip('tip3')" onblur="hideTip('tip3')" /><br />
        Address: &nbsp;<input type="text" name="CustAddress"s
        onfocus="showTip('tip4')" onblur="hideTip('tip4')" /><br />
        City: &nbsp; <input type="text" name="CustCity"
        onfocus="showTip('tip5')" onblur="hideTip('tip5')" /><br />
        Province: &nbsp;<input type="text" name="CustProv"
        onfocus="showTip('tip6')" onblur="hideTip('tip6')" /><br />
        Postal Code: &nbsp;<input type="text" name="CustPostal"
        onfocus="showTip('tip7')" onblur="hideTip('tip7')" /><br />
        Country: &nbsp;<input type="text" name="CustCountry"
        onfocus="showTip('tip8')" onblur="hideTip('tip8')" /><br />
        Home Phone: &nbsp;<input type="text" name="CustHomePhone"
        onfocus="showTip('tip9')" onblur="hideTip('tip9')" /><br />
        Business Phone: &nbsp;<input type="text" name="CustBusPhone"
        onfocus="showTip('tip10')" onblur="hideTip('tip10')" /><br />
        Select Your Agent: <select onchange='getAgent(this.value)'>
		<option value=''>Select an Agent to view details</option>
			<%
			for (var i=0; i<agents.length; i++)
			{
			%>
				<option value="<%= agents[i].AgentId %>"><%= agents[i].AgtFirstName %> <%= agents[i].AgtLastName %></option>
			<%
			}
			%>
		</select>	
        
        <!--Submission and Reset Buttons-->
				<button type="reset" value="Reset" onclick="return confirm('Did you really want to reset?')">Reset Fields</button>
				&nbsp;
				<button type="submit" value="Submit" onclick="return validate(this.form)">Submit!</button>
			
				<!--Error message if all input boxes not completed.-->
				<p id="mymessage" style="color:red"></p>
        </form><br>
	</div>
	<%- include('./partials/footer.ejs'); %>
	</body>